@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About BasicReview</h3>

<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="col-md-12">
        <p>
            This website will be about movies reviews of various different selected films.
            The website will also contain the information regarding the actors and directors who have either starred
            or directed in the respective movies. Only Registerd User can view, add, edit and delete review comments.
            User will also be able to add actors, films, and directors.
            The website also has an achievement system that active users will be able to earn based on their activity.
            The website also contains a filter which allows you to make specific searches on each page.
        </p>
    </div>
    <div class="col-md-12">
        <h4>How the Token System works</h4>
        <p>
            For every achievement, you get the respective number of tokens.
            For every minute of movie watched, you get 0.5 tokens.
            For every like received, you get 2 tokens.
            For every like given, you get 0.1 tokens.
            <br />
            What are the token used for?
            For the moment, the tokens are only used to rank our users.
            In the future, we might add the posibility to purchase perks with your tokens.
        </p>
    </div>
</div>
