@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact BasicReview</h3>

<address>
    Bd. Unirii 11A<br />
    Bucharest, Romania<br />
    <abbr title="Tel">Tel:</abbr>
    +40 712 345 678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@basicreview.com">support@basicreview.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@basicreview.com">marketing@basicreview.com</a>
</address>