.jumbotron {
    background-image: url('allBlack.jpg');
    color:white;
    background-attachment: fixed;
    min-height: 180px;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    font-weight: bold;
}

.AboutImage {
    background-image: url('aboutImage.jpg');
    color:white;
    background-attachment: fixed;
    min-height: 300px;
    background-size: 95% 60%;
    background-repeat: no-repeat;
    font-weight: bold;
    margin-bottom:20px;
}
