
@{ ViewBag.Title = "Index"; }


<h2>Achievements and Stats</h2>
@*If user is not logged in then ask him to log in*@
@if (ViewBag.email == "not logged in")
{
<p>Please Login to View Achivements</p> } @*If user is logged in teh grant him access to the page*@

@if (ViewBag.email != "not logged in")
{
    <br />
    <h3 style="text-align:center">Total Tokens: <abbr title="Visit About page to see how you can earn tokens">&#128712;</abbr></h3>
    <h4 style="text-align:center"> 680 🎟️</h4>
    <br /><br />

<h4 style="text-align:center">Your achievements</h4>
<table style="border-collapse: collapse; width: 100%; height: 318px;" border="1">
    <tbody>
        <tr style="height: 36px;">
            <td style="width: 100%; height: 36px; text-align: center;" colspan="3">
                <p style="text-align: center; padding-top: 5px"><b>Total Completed</b></p>
                <p style="text-align: center;">3 / 10 (30%)</p>
                <p><progress value="3" max="10"></progress></p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Leave 500 Reviews on any movie genre.</p>
                <p>89 / 500 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;" >
                <p>250 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/05-gibberish.png" alt="gibberish" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Leave 1000 Reviews on any movie genre.</p>
                <p>89 / 1000 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>500 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Get 500 Likes on your Reviews.</p>
                <p>345 / 500 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>100 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/03-docs-to-html.png" alt="Word to html" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Leave 25 Reviews on Action movies.</p>
                <p>25 / 25 ✔️</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>25 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Leave 25 Reviews on Horror movies.</p>
                <p>25 / 25 ✔️</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>25 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/05-gibberish.png" alt="gibberish" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Leave 25 Reviews on Comedy movies.</p>
                <p>25 / 25 ✔️</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>25 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/6-table-div-html.png" alt="html table div" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Leave 25 Reviews on Romance movies.</p>
                <p>14 / 25 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>25 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Like 250 reviews from other users.</p>
                <p>143 / 250 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>250 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Like 500 reviews from other users.</p>
                <p>143 / 500 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>250 🎟️</p>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 10%; height: 36px; text-align: center;"><img src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" /></td>
            <td style="width: 80%; height: 36px; text-align: center;">
                <p>Like 1000 reviews from other users.</p>
                <p>143 / 1000 🔒</p>
            </td>
            <td style="width: 10%; height: 36px; text-align: center;">
                <p>500 🎟️</p>
            </td>
        </tr>
    </tbody>
</table>
<br /><br />

<h4 style="text-align:center">Your stats</h4>
 <table style="border-collapse: collapse; width: 100%; height: 162px;" border="1">
     <tbody>
         <tr style="height: 36px;">
             <td style="width: 50%; height: 36px; text-align: center;">Total reviews:</td>
             <td style="width: 50%; height: 36px; padding-left: 10px">89</td>
         </tr>
         <tr style="height: 36px;">
             <td style="width: 50%; height: 36px; text-align: center;">Total likes received:</td>
             <td style="width: 50%; height: 36px; padding-left: 10px">135</td>
         </tr>
         <tr style="height: 36px;">
             <td style="width: 50%; height: 36px; text-align: center;">Total likes given:</td>
             <td style="width: 50%; height: 36px; padding-left: 10px ">36</td>
         </tr>
         <tr style="height: 36px;">
             <td style="width: 50%; height: 36px; text-align: center;">Total duration of watched movies:</td>
             <td style="width: 50%; height: 36px; padding-left: 10px ">2 weeks, 5 days, 3 hours</td>
         </tr>
     </tbody>
 </table>
                                                
 }
